
chemprop_master/
*.png
.DS_Store
*/.DS_Store
*.local
*.pt
*.pkl
*.ian-1
*.ian-1-copy-8
*.its-gpu-time-4
*.its-gpu-time-4-copy2
*.fingers-crossed-3
*.deep-learning-new
data/library_info/PublicStructures.txt
src/.ipynb_checkpoints/02_make_tsne_plots_different_libraries-checkpoint.ipynb
src/.ipynb_checkpoints/01_analyze_biochem_differences_between_screen_hits_and_nonhits-checkpoint.ipynb
src/__pycache__/adme_pred.cpython-310.pyc
data/data_prep_for_ml/data_prep_for_ml_pk_37k_screen/FULL_03_19_2022_for_sklearn.csv
data/data_prep_for_ml/data_prep_for_ml_pk_37k_screen/TRAIN_03_19_2022_for_sklearn.csv
data/library_info/Enamine_Diverse_REAL_drug-like_43.8M_cxsmiles.cxsmiles
data/library_info/cleaned_full_all_dbs_04_19_2022.csv
data/library_info/cleaned_full_all_dbs_04_19_2022.npz
out/predictions_from_models/pk_37k_1round_model/800k/broad800K_melis_predictions_with_FINALbayHO11152022_11_16_2022.csv
out/predictions_from_models/pk_37k_1round_model/5m/extended_screen_set_with_FINALbayHO11152022_melis_predictions_11_22_2022.csv
out/predictions_from_models/pk_37k_model/5m/extended_screen_set_melis_predictions_05_01_2022.csv
data/library_info/broad800k.npz
out/predictions_from_models/pk_37k_model/800k/clean_preds_05_02_2022.csv
models/pk_screen_models_11152021/FINAL151.tar.gz
models/pk_screen_models_11152021/FINAL151.zip
out/predictions_from_models/pk_37k_model/5m/clean_preds_05_02_2022.csv
out/predictions_from_models/pk_37k_1round_model/5m/clean_preds_11_22_2022.csv
models/pk_37k_three_rounds_val_models_03312023/FINALbayHO04112023.zip
out/predictions_from_models/pk_37k_3roundsval_model/enamine_REAL_diversity/clean_preds_06_12_2023.csv
out/predictions_from_models/pk_37k_3roundsval_model/enamine_REAL_diversity/melis_enamine_REAL_diversity_full_43M_with_bayHOv303312023_06_12_2023.csv
.DS_Store
figure_panels/.DS_Store
models/.DS_Store
data/library_info/250k_rndm_zinc_drugs_clean_sorted copy.txt
